
<div class="container-fluid">

<div class="container m-auto" style="padding: 50px;width:1200px">
  <div class="row">
    <div class="col-3 bg-success">
      <div>
        <li>Profile</li>
        <li>Edit Profile</li>
      </div>
      <hr>
      <div>
        <li>Name: <%= @teacher.name %></li>
        <li>Email: <%= @teacher.email %></li>
        <li>Notifications</li>
        <li>Settings</li>
        <% if signed_in? %>
          <%= button_to "Log out", destroy_teacher_session_path,method: :delete, data: { turbo: :false } %>
        <% end %>
      </div>
    </div>

    <div class="col-9">
      <div class="row border border-dark">
        <div>
          <p class="d-inline">My Exams</p>
          <%= link_to "Create an Exam", new_teacher_exam_path(@teacher) %>
        </div>
        <br>
        <div>
          <% @teacher.exams.each do |exam| %>
            <div class="text-bg-danger h-100", style="width:200px">
              <div><%= link_to exam.exam_name, teacher_exam_path(@teacher,exam.id) %></div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 bg-info">Evaluate</div>
        <div class="col-lg-6 bg-warning">Requests</div>
      </div>
    </div>
  
  </div>
</div>

</div>
