<!DOCTYPE html>
<html>
  <head>
    <title>Onlineexam</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>  
    <%= javascript_import_module_tag "script" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>  
  </head>

  <body>
    <% if notice %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <%= notice %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% end %>

    <% if alert %>
    <div class="alert alert-danger alert-dismissible" style="margin: 0;" role="alert">
      <%= alert %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% end %>
    <%= yield %>
  </body>
</html>
